.navbar-holder {
  padding-left: 9999px;
  padding-right: 9999px;
  margin-left: -9999px;
  margin-right: -9999px; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-c3cvee");
  src: url("../fonts/icomoon.eot?#iefix-c3cvee") format("embedded-opentype"), url("../fonts/icomoon.woff?-c3cvee") format("woff"), url("../fonts/icomoon.ttf?-c3cvee") format("truetype"), url("../fonts/icomoon.svg?-c3cvee#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-acid:before {
  content: "\e600"; }

.icon-alarm:before {
  content: "\e605"; }

.icon-arrow-top:before {
  content: "\e606"; }

.icon-arrow-top2:before {
  content: "\e607"; }

.icon-file:before {
  content: "\e608"; }

.icon-flag:before {
  content: "\e609"; }

.icon-folder:before {
  content: "\e60a"; }

.icon-girl:before {
  content: "\e60b"; }

.icon-arrow-dotted:before {
  content: "\e604"; }

.icon-phone:before {
  content: "\e601"; }

.icon-social-twitter:before {
  content: "\e602"; }

.icon-social-facebook:before {
  content: "\e603"; }

.icon-home:before {
  content: "\f015"; }

.icon-google:before {
  content: "\f1a0"; }

* {
  max-height: 1000000px;
  font-size: 100.01%; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  min-width: 320px;
  margin: 0;
  height: 100%; }
  @media (max-width: 1023px) {
    body {
      font-size: 1.3em !important;
      line-height: 1.154em; } }

input[type=text], input[type="tel"], input[type=search], input[type=email], input[type=password], input[type=file], input[type=submit], textarea {
  -webkit-appearance: none;
  border-radius: 0; }

@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
#wrapper {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #f2e4d3 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY4JSIgc3RvcC1jb2xvcj0iI2YyZTRkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmU0ZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fefeff 0%, #fefefe 7%, #f2e4d3 22%, #f2e4d3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefeff), color-stop(7%, #fefefe), color-stop(22%, #f2e4d3), color-stop(100%, #f2e4d3));
  background: -webkit-linear-gradient(top, #fefeff 0%, #fefefe 7%, #f2e4d3 22%, #f2e4d3 100%);
  background: -o-linear-gradient(top, #fefeff 0%, #fefefe 7%, #f2e4d3 22%, #f2e4d3 100%);
  background: -ms-linear-gradient(top, #fefeff 0%, #fefefe 7%, #f2e4d3 22%, #f2e4d3 100%);
  background: linear-gradient(to bottom, #fefeff 0%, #fefefe 7%, #f2e4d3 22%, #f2e4d3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefeff', endColorstr='#f2e4d3',GradientType=0 ); }

#header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 19px 0 0 0;
  z-index: 9999;
  background: #fefefe; }
  @media (max-width: 1023px) {
    #header {
      padding: 10px 0 0; } }

.navbar {
  border: 0; }

.navbar-box {
  float: right;
  max-width: 500px;
  padding: 11px 0 0;
  margin: 0 0 22px;
  line-height: 0;
  text-align: right; }
  .navbar-box .top-bar:after {
    content: "";
    clear: both;
    display: block; }
  @media (max-width: 1023px) {
    .navbar-box {
      margin: 0 0 15px; } }

.navbar-brand {
  float: left;
  padding: 0;
  width: 361px;
  height: auto; }
  .navbar-brand img {
    display: block;
    max-width: 100%;
    height: auto; }
  @media (max-width: 1023px) {
    .navbar-brand {
      width: 281px;
      margin: 5px 0 0; } }

.add-nav {
  display: inline-block;
  vertical-align: top;
  margin: 0 27px 0 0;
  padding: 2px 0 0;
  font-size: 17px;
  line-height: 21px; }
  .add-nav li {
    list-style: none;
    float: left;
    position: relative;
    margin: 0 0 0 10px;
    padding: 0 0 0 13px; }
    .add-nav li:after {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      width: 3px;
      height: 3px;
      background: #df8119;
      border-radius: 3px; }
    .add-nav li:first-child {
      margin-left: 0;
      padding-left: 0; }
      .add-nav li:first-child:after {
        display: none; }
  .add-nav a {
    color: #747474; }
    .add-nav a:hover {
      color: #df8119;
      text-decoration: none; }
  @media (max-width: 1023px) {
    .add-nav {
      font-size: 13px;
      line-height: 16px;
      margin: 0 20px 0 0;
      padding: 5px 0 0; }
      .add-nav li {
        margin: 0 0 0 9px;
        padding: 0 0 0 10px; }
        .add-nav li:after {
          width: 2px;
          height: 2px;
          top: 7px; } }

.social {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 0 0;
  padding: 0;
  font-size: 12px; }
  .social li {
    float: left;
    margin: 0 8px 0 0;
    list-style: none; }
  .social a {
    display: block;
    width: 19px;
    height: 19px;
    background: #f39122;
    color: #fff;
    text-align: center;
    padding: 4px 0 0; }
    .social a:hover {
      background: #a65c09;
      text-decoration: none; }
  @media (max-width: 1023px) {
    .social {
      margin: 2px 12px 0 0;
      font-size: 10px; }
      .social li {
        margin: 0 7px 0 0; }
      .social a {
        width: 14px;
        height: 15px;
        padding: 3px 0 0; } }

.resize-box {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 0 0; }
  .resize-box span {
    float: left;
    margin: 0 10px 0 0;
    font-size: 16px; }
  @media (max-width: 1023px) {
    .resize-box {
      padding: 3px 0 0 0; }
      .resize-box span {
        margin: 0 7px 0 0;
        font-size: 13px; } }

.resizer {
  margin: 0;
  padding: 0;
  float: left; }
  .resizer li {
    list-style: none;
    float: left;
    margin: 0 0 0 12px; }
    .resizer li:first-child {
      margin-left: 0; }
  .resizer a:hover {
    text-decoration: none;
    color: #747474; }
  .resizer a#reset {
    font-size: 20px;
    line-height: 13px; }
  .resizer a#increase {
    font-size: 26px;
    line-height: 9px; }
  @media (max-width: 1023px) {
    .resizer li {
      margin: 0 0 0 8px; }
    .resizer a#decrease {
      font-size: 11px; }
    .resizer a#reset {
      font-size: 17px; }
    .resizer a#increase {
      font-size: 22px; } }

.contacr-row {
  text-align: right;
  padding: 30px 0 0;
  font-size: 19px;
  line-height: 24px; }
  .contacr-row .tel {
    display: inline-block;
    vertical-align: top; }
    .contacr-row .tel:before {
      font-size: 31px;
      -moz-transform: rotate(-11deg);
      -ms-transform: rotate(-11deg);
      -o-transform: rotate(-11deg);
      -webkit-transform: rotate(-11deg);
      display: inline-block;
      vertical-align: top;
      margin: -3px 2px 0 0; }
    .contacr-row .tel:hover {
      text-decoration: none; }
  .contacr-row span {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 15px; }
  @media (max-width: 1023px) {
    .contacr-row {
      padding: 22px 0 0;
      font-size: 15px;
      line-height: 18px; }
      .contacr-row .tel:before {
        font-size: 25px;
        margin: -2px -3px 0 0; }
      .contacr-row span {
        margin: 0 0 0 13px; } }

.navbar-holder {
  clear: both;
  border: solid #cdcdcd;
  border-width: 1px 0; }

.navbar-frame {
  position: relative;
  padding: 1px 0; }
  .navbar-frame:after, .navbar-frame:before {
    content: "";
    position: absolute;
    top: 1px;
    bottom: 1px;
    width: 150px; }
  .navbar-frame:after {
    left: 100%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #e5e5e5 0%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e5e5e5), color-stop(100%, rgba(125, 185, 232, 0)));
    background: -webkit-linear-gradient(left, #e5e5e5 0%, rgba(125, 185, 232, 0) 100%);
    background: -o-linear-gradient(left, #e5e5e5 0%, rgba(125, 185, 232, 0) 100%);
    background: -ms-linear-gradient(left, #e5e5e5 0%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to right, #e5e5e5 0%, rgba(125, 185, 232, 0) 100%); }
  .navbar-frame:before {
    right: 100%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(229, 229, 229, 0) 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(229, 229, 229, 0)), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(left, rgba(229, 229, 229, 0) 0%, #e5e5e5 100%);
    background: -o-linear-gradient(left, rgba(229, 229, 229, 0) 0%, #e5e5e5 100%);
    background: -ms-linear-gradient(left, rgba(229, 229, 229, 0) 0%, #e5e5e5 100%);
    background: linear-gradient(to right, rgba(229, 229, 229, 0) 0%, #e5e5e5 100%); }
  @media (max-width: 1023px) {
    .navbar-frame {
      padding: 0; }
      .navbar-frame:after, .navbar-frame:before {
        top: 0;
        bottom: 0; } }

.nav.navbar-nav {
  float: none;
  width: auto;
  background: #e5e5e5;
  position: relative;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0; }
  .nav.navbar-nav > li {
    margin: 0;
    padding: 12px 0;
    text-align: center; }
    .nav.navbar-nav > li.first-child {
      text-align: left;
      padding-bottom: 7px; }
    .nav.navbar-nav > li.last-child {
      text-align: right; }
    .nav.navbar-nav > li > a {
      color: #494949;
      padding: 0;
      display: inline; }
      .nav.navbar-nav > li > a.icon-home {
        font-size: 28px;
        color: #df8119; }
        .nav.navbar-nav > li > a.icon-home:hover {
          color: #834c0f; }
  .nav.navbar-nav .caret {
    color: #8b8b8b; }
  .nav.navbar-nav .dropdown-menu {
    padding: 21px 10px 6px 20px;
    border: 1px solid #cdcdcd;
    left: 23px;
    width: 179px;
    text-transform: none;
    font-size: 14px;
    line-height: 18px;
    opacity: 0;
    display: block;
    visibility: hidden;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .nav.navbar-nav .dropdown-menu > li {
      position: relative;
      padding: 0 0 0 9px;
      margin: 0 0 12px; }
      .nav.navbar-nav .dropdown-menu > li:after {
        content: "";
        position: absolute;
        left: 0;
        top: 9px;
        width: 3px;
        height: 3px;
        background: #df8119;
        border-radius: 50%; }
      .nav.navbar-nav .dropdown-menu > li > a {
        white-space: normal;
        padding: 0;
        display: inline; }
        .nav.navbar-nav .dropdown-menu > li > a:hover {
          text-decoration: underline;
          background: none; }
  .nav.navbar-nav .open > .dropdown-menu {
    opacity: 1;
    visibility: visible; }
  @media (max-width: 1023px) {
    .nav.navbar-nav {
      font-size: 13px;
      line-height: 16px; }
      .nav.navbar-nav > li {
        padding: 7px 0; }
        .nav.navbar-nav > li > a.icon-home {
          font-size: 21px; } }

#main {
  margin: 208px 0 0;
  padding: 0 0 19px; }
  @media (max-width: 1023px) {
    #main {
      margin: 161px 0 0; } }

/* cycle carousel basic styles */
.cycle-gallery {
  position: relative;
  border: 1px solid #eee;
  margin: 0 0 22px;
  z-index: 1; }
  .cycle-gallery:after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 0;
    border-radius: 13%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    z-index: -1; }
  .cycle-gallery .mask {
    position: relative;
    overflow: hidden; }
  .cycle-gallery .slideset {
    width: 99999px;
    float: left; }
  .cycle-gallery .slide {
    float: left; }
    .cycle-gallery .slide.active {
      z-index: 1; }
  .cycle-gallery img {
    vertical-align: top;
    width: 100%;
    height: auto; }
  .cycle-gallery .pagination {
    position: absolute;
    left: 10px;
    bottom: 16px;
    right: 10px;
    z-index: 20;
    margin: 0; }
    .cycle-gallery .pagination ul {
      margin: 0;
      padding: 0;
      text-align: center;
      line-height: 0; }
    .cycle-gallery .pagination li {
      list-style: none;
      display: inline-block;
      vertical-align: top;
      margin: 0 7px 0 8px; }
      .cycle-gallery .pagination li:hover a, .cycle-gallery .pagination li.active a {
        background: #fff; }
    .cycle-gallery .pagination a {
      display: block;
      width: 15px;
      height: 15px;
      background: #df8119;
      border: 1px solid #fff;
      border-radius: 50%;
      box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
      text-indent: -9999px;
      overflow: hidden; }
  .cycle-gallery .caption {
    position: absolute;
    right: 0;
    top: 75px;
    max-height: 100%;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    font-size: 1.200em;
    line-height: 1.389em;
    text-align: center;
    padding: 27px 30px 24px;
    width: 284px; }
    .cycle-gallery .caption .title {
      display: block;
      text-transform: uppercase;
      color: #df8119;
      margin: 0 0 9px;
      font-size: 1.222em;
      line-height: 1.136em; }
  @media (max-width: 1023px) {
    .cycle-gallery {
      margin: 0 0 17px; }
      .cycle-gallery .pagination {
        bottom: 12px; }
        .cycle-gallery .pagination li {
          margin: 0 5px 0 6px; }
          .cycle-gallery .pagination li a {
            width: 12px;
            height: 12px; }
      .cycle-gallery .caption {
        top: 58px;
        width: 219px;
        font-size: 1.077em;
        line-height: 1.357em;
        padding: 20px 30px 19px; }
        .cycle-gallery .caption .title {
          font-weight: normal;
          font-size: 1.214em;
          line-height: 1.118em;
          margin: 0 0 7px; } }

h1 {
  text-transform: uppercase;
  color: #df8119;
  margin: 0 0 19px; }
  @media (max-width: 1023px) {
    h1 {
      margin: 0 0 15px;
      font-size: 1.077em; } }

h2 {
  text-transform: uppercase;
  margin: 0 0 16px; }
  @media (max-width: 1023px) {
    h2 {
      font-size: 0.923em;
      line-height: 1.333em;
      margin: 0 0 10px; } }

.post-wrap {
  margin: 0 0 23px; }
  @media (max-width: 1023px) {
    .post-wrap {
      margin: 0 0 18px; } }

.post {
  background: #fff;
  border: 1px solid #edd5ba;
  padding: 16px 19px 20px;
  min-height: 540px; }
  .post .img-box {
    box-shadow: 0 0 1px 1px #eaeaea;
    margin: 4px 23px 15px 0;
    width: 173px; }
    .post .img-box img {
      vertical-align: top;
      max-width: 100%;
      height: auto; }
  .post p {
    margin: 0 0 13px; }
  .post .btn {
    margin: 4px 10px 0 0; }
  @media (max-width: 1023px) {
    .post {
      padding: 11px 16px;
      min-height: 420px; }
      .post .img-box {
        width: 134px;
        margin: 4px 17px 10px 0; }
      .post p {
        margin: 0 0 12px; }
      .post .btn {
        margin: 2px 6px 0 0; } }

.btn {
  padding: 3px 9px 5px;
  font-size: 1em; }
  @media (max-width: 1023px) {
    .btn {
      padding: 2px 6px; } }

.orange-box {
  text-align: center;
  color: #fff;
  position: relative;
  padding: 28px 30px 20px;
  min-height: 233px;
  margin: 0 0 27px;
  z-index: 1;
  border: 1px solid #df8119;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
  background: #df8119 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmODExOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmODk5MmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #df8119 0%, #f8992d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df8119), color-stop(100%, #f8992d));
  background: -webkit-linear-gradient(top, #df8119 0%, #f8992d 100%);
  background: -o-linear-gradient(top, #df8119 0%, #f8992d 100%);
  background: -ms-linear-gradient(top, #df8119 0%, #f8992d 100%);
  background: linear-gradient(to bottom, #df8119 0%, #f8992d 100%); }
  .orange-box:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -123px;
    background: url(../images/bg-orange-box.png) no-repeat;
    width: 247px;
    height: 207px;
    z-index: -1; }
  .orange-box h2 {
    font-size: 1.600em;
    line-height: 1.250em;
    margin: 0 0 13px; }
  .orange-box p {
    margin: 0 0 20px; }
  @media (max-width: 1023px) {
    .orange-box {
      padding: 21px 20px;
      min-height: 181px;
      margin: 0 0 20px; }
      .orange-box:after {
        width: 192px;
        height: 162px;
        background-size: 100% 100%;
        margin: 0 0 0 -96px; }
      .orange-box h2 {
        font-size: 1.462em;
        line-height: 1.263em;
        margin: 0 0 10px; }
      .orange-box p {
        margin: 0 0 15px; } }

.gray-box {
  background: #b3b3b3;
  color: #fff;
  border: 1px solid #adadad;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 26px 35px 20px;
  min-height: 280px; }
  .gray-box:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/bg-gray-box.png) no-repeat 50% 0;
    height: 88px;
    z-index: -1; }
  .gray-box .gray-brand {
    width: 144px;
    margin: 0 auto 21px;
    display: block; }
    .gray-box .gray-brand img {
      max-width: 100%;
      height: auto;
      margin: 0; }
  .gray-box p {
    margin: 0 0 21px; }
  @media (max-width: 1023px) {
    .gray-box {
      padding: 20px 15px 20px;
      min-height: 217px; }
      .gray-box .gray-brand {
        margin-bottom: 17px;
        width: 114px; }
      .gray-box p {
        margin: 0 0 16px; } }

.section {
  margin: 0 0 21px; }
  @media (max-width: 1023px) {
    .section {
      margin: 0 0 16px; } }

.step-box {
  background: url(../images/bg-step-box.jpg) no-repeat;
  background-size: cover;
  border: 1px solid #df8119;
  border-radius: 1px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px rgba(224, 130, 26, 0.54);
  padding: 24px 0 0;
  margin: 0 0 27px; }
  .step-box .step {
    position: relative;
    padding: 0 15px 13px; }
  .step-box h2 {
    margin: 0 0 16px;
    font-size: 1.200em;
    line-height: 1.111em;
    text-transform: uppercase; }
  .step-box .arrow {
    position: absolute;
    left: 100%;
    top: 28px;
    font-size: 58px;
    color: #f1b36e;
    margin: 0 0 0 6px; }
  .step-box .btn:after {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 0;
    height: 0;
    border-left: 7px solid #fee4c6;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin: 6px 0 0 13px; }
  @media (max-width: 1023px) {
    .step-box {
      padding: 17px 0 0;
      margin: 0 0 21px; }
      .step-box .step {
        padding: 0 10px 9px; }
      .step-box h2 {
        font-size: 1.077em;
        line-height: 1.286em;
        margin: 0 0 12px; }
      .step-box .arrow {
        font-size: 44px;
        top: 24px; }
      .step-box .btn {
        padding: 2px 12px 2px 16px; }
        .step-box .btn:after {
          margin: 5px 0 0 10px;
          border-width: 4px 0 4px 6px; } }

.blog-bar {
  padding: 18px 16px 16px;
  text-align: right;
  background: url(../images/bg-blog-bar.jpg) no-repeat;
  background-size: cover;
  border: 1px solid #edd5ba;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2); }
  .blog-bar.style-2 {
    background: url(../images/bg-blog-bar-2.jpg) no-repeat;
    background-size: cover; }
  .blog-bar .btn .icon-file {
    display: inline-block;
    vertical-align: top;
    margin: 3px 7px 0 -2px; }
  .blog-bar .btn .icon-arrow-top {
    display: inline-block;
    vertical-align: top;
    margin: 4px 5px 0 -1px; }
  @media (max-width: 1023px) {
    .blog-bar {
      padding: 14px 11px 13px; }
      .blog-bar .btn .icon-file {
        font-size: 0.846em; } }

.advantages {
  margin: 0 0 22px;
  position: relative;
  z-index: 1; }
  .advantages:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 500px;
    height: 500px;
    margin: 0 0 0 -250px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2NiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(66%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-radial-gradient(center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%);
    background: -o-radial-gradient(center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(ellipse at center, white 0%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%);
    z-index: -1; }
  .advantages .box-wrap {
    overflow: hidden; }
  .advantages .item-box {
    margin: 0 -55px 0 0;
    position: relative; }
    .advantages .item-box:before {
      content: "";
      position: absolute;
      left: 210px;
      top: 92px;
      background: url(../images/bg-item-box.png) no-repeat;
      width: 253px;
      height: 264px; }
    .advantages .item-box:after {
      content: "";
      clear: both;
      display: block; }
  .advantages .item {
    float: left;
    background: #fff;
    border: 1px solid #edd5ba;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin: 0 47px 27px 0;
    position: relative;
    border-radius: 1px;
    width: 312px;
    padding: 36px 17px 13px;
    overflow: hidden;
    z-index: 1; }
    .advantages .item:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      height: 100px;
      box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
      z-index: -1; }
    .advantages .item .icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 58px;
      height: 53px;
      border: 1px solid #df8119;
      border-radius: 1px;
      box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      color: #fff;
      font-size: 29px;
      padding: 11px 0 0;
      background: #df8119 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmODExOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmODk5MmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, #df8119 0%, #f8992d 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df8119), color-stop(100%, #f8992d));
      background: -webkit-linear-gradient(top, #df8119 0%, #f8992d 100%);
      background: -o-linear-gradient(top, #df8119 0%, #f8992d 100%);
      background: -ms-linear-gradient(top, #df8119 0%, #f8992d 100%);
      background: linear-gradient(to bottom, #df8119 0%, #f8992d 100%); }
      .advantages .item .icon.icon-acid {
        font-size: 25px;
        padding: 13px 0 0; }
      .advantages .item .icon.icon-flag {
        font-size: 32px;
        padding: 10px 0 0 5px; }
    .advantages .item h2 {
      text-align: center;
      margin: 0 45px 14px; }
  @media (max-width: 1023px) {
    .advantages .item-box:before {
      width: 197px;
      height: 206px;
      background-size: 100% 100%;
      left: 163px;
      top: 71px; }
    .advantages .item {
      padding: 27px 13px 7px;
      width: 242px;
      margin: 0 36px 20px 0; }
      .advantages .item .icon {
        width: 45px;
        height: 42px;
        padding: 8px 0 0;
        font-size: 22px; }
        .advantages .item .icon.icon-acid {
          font-size: 19px;
          padding: 9px 0 0; }
        .advantages .item .icon.icon-flag {
          font-size: 23px;
          padding: 8px 0 0 2px; }
      .advantages .item h2 {
        font-size: 1em;
        margin: 0 35px 10px; } }

.bullet-list {
  margin: 0;
  padding: 0; }
  .bullet-list li {
    list-style: none;
    position: relative;
    padding: 0 0 0 14px;
    margin: 0 0 6px; }
    .bullet-list li:before {
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
      width: 3px;
      height: 3px;
      background: #df8119;
      border-radius: 50%; }
  @media (max-width: 1023px) {
    .bullet-list li {
      padding: 0 0 0 10px; }
      .bullet-list li:before {
        width: 2px;
        height: 2px;
        top: 6px; } }

.panel-group {
  text-align: center;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2); }
  .panel-group h2 {
    font-size: 1.067em;
    line-height: 1.250em;
    color: #fff;
    border: 1px solid #df8119;
    margin: 0;
    background: #df8119 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmODExOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmODk5MmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #df8119 0%, #f8992d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df8119), color-stop(100%, #f8992d));
    background: -webkit-linear-gradient(top, #df8119 0%, #f8992d 100%);
    background: -o-linear-gradient(top, #df8119 0%, #f8992d 100%);
    background: -ms-linear-gradient(top, #df8119 0%, #f8992d 100%);
    background: linear-gradient(to bottom, #df8119 0%, #f8992d 100%);
    padding: 16px 10px 12px; }
  .panel-group .panel-title {
    font-size: 1.067em;
    line-height: 1.250em;
    color: #fff; }
    .panel-group .panel-title a {
      color: #fff;
      display: block;
      padding: 15px 35px 14px;
      position: relative; }
      .panel-group .panel-title a:hover {
        opacity: 0.8;
        text-decoration: none; }
      .panel-group .panel-title a:after {
        content: "";
        position: absolute;
        right: 23px;
        top: 23px;
        width: 0;
        height: 0;
        border-top: 6px solid #7f7f7f;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        -moz-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
      .panel-group .panel-title a[aria-expanded="true"]:after {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg); }
  .panel-group .panel {
    border-bottom-color: #dbdbdb; }
    .panel-group .panel:last-child {
      border-bottom-color: #b9b9b9; }
  .panel-group .bullet-list li {
    padding: 0;
    margin: 0 0 5px; }
    .panel-group .bullet-list li:before {
      position: static;
      display: inline-block;
      vertical-align: top;
      margin: 8px 10px 0 0; }
  @media (max-width: 1023px) {
    .panel-group h2 {
      font-size: 1.077em;
      padding: 11px 10px 9px; }
    .panel-group .panel-title {
      font-size: 1.077em; }
      .panel-group .panel-title a {
        padding: 10px 27px 11px; }
        .panel-group .panel-title a:after {
          border-width: 5px 4px 0;
          right: 17px;
          top: 18px; } }

.panel-heading {
  padding: 0; }

.panel-body {
  padding: 15px 15px 10px;
  background-color: #fbf2e8;
  background-image: -webkit-linear-gradient(top, #fff, #fbf2e8);
  background-image: -moz-linear-gradient(top, #fff, #fbf2e8);
  background-image: -ms-linear-gradient(top, #fff, #fbf2e8);
  background-image: -o-linear-gradient(top, #fff, #fbf2e8);
  background-image: linear-gradient(top, #fff, #fbf2e8); }
  @media (max-width: 1023px) {
    .panel-body {
      padding: 11px 15px 7px; } }

.panel-group .panel + .panel {
  margin: 0; }

.quotes {
  margin: 0 0 30px; }

.quote-box {
  padding: 0 11px 0 73px;
  border: 1px solid #adadad;
  border-radius: 1px;
  position: relative;
  margin: 0 0 30px 0;
  box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.1);
  background: #9f9f9f url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlmOWY5ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYWJhYmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #9f9f9f 0%, #bababa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9f9f9f), color-stop(100%, #bababa));
  background: -webkit-linear-gradient(top, #9f9f9f 0%, #bababa 100%);
  background: -o-linear-gradient(top, #9f9f9f 0%, #bababa 100%);
  background: -ms-linear-gradient(top, #9f9f9f 0%, #bababa 100%);
  background: linear-gradient(to bottom, #9f9f9f 0%, #bababa 100%); }
  .quote-box img {
    position: absolute;
    left: 16px;
    top: 19px; }

blockquote {
  padding: 14px 0 16px;
  border: 0;
  color: #fff;
  margin: 0;
  background: url(../images/bg-quote-box.png) no-repeat;
  background-position: right 5px bottom 8px; }
  blockquote q {
    display: block;
    margin: 0 0 5px; }
  blockquote cite {
    font-style: normal;
    color: #ededed; }
    blockquote cite b {
      color: #fff; }
  blockquote a {
    color: #fff; }
    blockquote a:hover {
      color: #fff; }

#footer {
  width: 100%;
  display: table-footer-group;
  height: 1%;
  position: relative;
  font-size: 1.133em;
  line-height: 1.412em; }
  #footer .footer-img {
    display: block;
    margin: 0 auto 34px; }
  #footer .decor-box {
    position: relative;
    border-top: 1px solid #e6d8c8;
    height: 3px;
    background: #fff;
    z-index: 1; }
    #footer .decor-box:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 3px;
      background: #fff; }
    #footer .decor-box .decor {
      position: absolute;
      left: 50%;
      height: 10px;
      top: -1px;
      width: 980px;
      margin: 0 0 0 -490px;
      border-radius: 50%;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      z-index: -1; }
  #footer h2 {
    font-size: 1.294em;
    line-height: 1.182em;
    font-weight: 400;
    margin: 9px 0 21px;
    color: #df8119;
    text-transform: none; }
  #footer address {
    margin: 0 0 12px; }
  #footer > .container {
    position: relative; }

.f1 {
  position: relative;
  overflow: hidden;
  background: #fff;
  z-index: 10;
  padding: 16px 0 0; }
  .f1:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 0 100px 30px #f7f7f7; }

.sub-nav {
  margin: 0;
  padding: 0; }
  .sub-nav > li {
    list-style: none;
    margin: 0 0 10px;
    position: relative;
    padding: 0 0 0 18px; }
    .sub-nav > li:after {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      width: 0;
      height: 0;
      border-left: 6px solid #df8119;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent; }
    .sub-nav > li > a {
      color: #747474; }
      .sub-nav > li > a:hover {
        text-decoration: none;
        color: #df8119; }
  .sub-nav .social {
    margin: 1px 0 0 14px; }

.actio-brand {
  margin: 0 0 21px; }
  .actio-brand + p {
    margin: 0 0 12px; }

.contact-info {
  overflow: hidden;
  margin: 0; }
  .contact-info dt {
    float: left;
    font-weight: 400;
    margin: 0 10px 0 0; }
  .contact-info dd {
    overflow: hidden;
    margin: 0 0 2px; }
  .contact-info a {
    color: #747474; }

.sub-info {
  padding: 37px 0 29px;
  text-align: center;
  font-size: 0.824em;
  line-height: 1.286em;
  color: #df8119; }
  .sub-info p {
    margin: 0 0 20px; }

.copy {
  display: block;
  text-align: center;
  padding: 16px 0;
  border-top: 1px solid #cdcdcd;
  font-size: 0.941em;
  line-height: 1.188em; }

.btn-top {
  position: absolute;
  right: -129px;
  top: -121px;
  width: 42px;
  height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 1px;
  font-size: 23px;
  color: #a7a7a7;
  text-align: center;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 7px 0 0 1px;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .btn-top:hover {
    text-decoration: none; }

@media only screen and (min-width: 768px) {
  .tel-link {
    cursor: default;
    pointer-events: none; }
    .tel-link:hover {
      text-decoration: none; } }

/*# sourceMappingURL=all.css.map */
